@font-face {
  font-family: segoeui;
  src: url("../fonts/segoeui.ttf");
}

@font-face {
  font-family: segoeuib;
  src: url("../fonts/segoeuib.ttf");
}

@font-face {
  font-family: segoeuil;
  src: url("../fonts/segoeuil.ttf");
}

body {
  font-family: segoeui;
}

.principal-color {
  background-color: #2571b7 !important;
}

.navbar-estilo {
  padding-left: 10%;
  padding-right: 10%;
}

.nav-itens {
  width: 95%;
  justify-content: space-around;
}

.nav-item a {
  color: #fff !important;
}

.nav-item a:hover {
  color: #cccccc !important;
}

.button-nav {
  font-family: segoeuib;
  background-color: #002050;
  padding-left: 1%;
  padding-right: 1%;
}

.header {
  background-image: url(../imgs/ballpen-blur-close-up-461077.png);
  background-size: cover;
  background-position: top center;
  filter: blur(1px) brightness(35%);
  height: 93vh;
  margin-top: -1%;
}

.mensagem-header {
  background-color: transparent;
  border: none;
  top: 20%;
  left: 8%;
  position: absolute;
}

.titulo-mensagem {
  color: white;
}

.card-mensagem {
  font-size: 5rem;
}

.descricao-mensagem {
  font-size: 1.5rem;
}

.btn-mensagem {
  font-family: segoeuib;
  margin-top: 8%;
  padding-left: 5%;
  padding-right: 5%;
}

.btn-mensagem:hover {
  box-shadow: 0 0 0 0.2rem #055e9e;
}

.options-header {
  top: 85%;
  left: 10%;
  width: 80%;
  position: absolute;
}

.img-options {
  float: right;
}

@media (max-width: 768px) {
  .navbar-estilo {
    padding-left: 4%;
    padding-right: 4%;
  }
  .button-nav {
    padding-left: 3%;
    padding-right: 3%;
  }
  .mensagem-header {
    left: 0%;
    width: 100%;
  }
  .titulo-mensagem {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .card-mensagem {
    font-size: 3rem;
    font-family: segoeuib;
  }
  .btn-mensagem {
    margin-left: 23%;
    margin-right: 23%;
  }
  .options-link {
    display: none;
  }
  .img-options {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

@media (max-width: 310px) {
  .btn-mensagem {
    margin: 0;
  }
}
